page-patient-ivt-medication {
    ion-toolbar{
        .toolbar-title-ios{
            text-transform: none !important;
        }
        .toolbar-title-md{
            text-transform: none !important;
        }
    }

    .alert_for_adder{
        text-align: left;
        background: #efcece;
        border: 1px solid color($colors, danger);
        padding: 10px;
        color: color($colors, danger);
        border-radius: 10px;
        font-size: 15px;
        ion-icon{
            float:right;
            margin-right:10px;
            margin-left: 20px;
            margin-top: 10px;
            font-size: 20px;
        }
        .blinking{
            color: color($colors, danger);
            animation: blink 1.2s linear infinite;    
        }
        @keyframes blink{
            0%{opacity: 0;}
            50%{opacity: .3;}
            100%{opacity: 1;}
        }
    }
    ion-item{
        padding:6px 5px !important;
    }
    
    ion-item.description_item{
        padding-bottom:0px;
    }
    ion-item.description_item .item-inner{
        border-bottom:0px !important;
    }
    
    ion-input{
        color: color($colors, primary);
        font-weight: bold;
        font-family: "Lato Regular";
    }
    
    .text-input[disabled] {
        color: #333 ;
        opacity: 2;
    }
    
    ion-datetime{
        color: color($colors, primary);
        font-weight: bold;
        font-family: "Lato Regular";
    }
    
    ion-datetime{
        color: color($colors, primary);
        font-weight: bold;
        font-family: "Lato Regular";
    }
    
    .datetime-placeholder{
        color: color($colors, "lightdark") !important;
        font-weight: normal;
        font-size: 13px;
        font-family: "Lato Regular";
    }
    .text-input::-moz-placeholder {
        color: color($colors, "lightdark") !important;
        font-weight: normal;
        font-size: 13px;
        font-family: "Lato Regular";
    }
    

    .text-input:-ms-input-placeholder {
        color: color($colors, "lightdark") !important;
        font-weight: normal;
        font-size: 13px;
        font-family: "Lato Regular";
    }

    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: color($colors, "lightdark") !important;
        font-weight: normal;
        font-size: 13px;
        font-family: "Lato Regular";
    }
    .item-label-stacked .label{
        font-size: 15px;
        color: color($colors, "dark") !important;
        font-family: "Lato Regular";
    }
    .item-select .label{
        font-size: 15px;
        color: color($colors, "dark") !important;
        font-family: "Lato Regular";
    }
    
    .item-select .select-text{
        font-family: "Lato Regular";
    }
    
    .item-select.item-input-has-value .select-text{
        color: color($colors, primary);
        font-weight: bold;
        font-family: "Lato Regular";
    }
    
    .add_description_textarea{
        background: transparent !important;
        border:none !important;
        width:100%;
        min-height:50px;
        font-family: "Lato Bold" !important;
        font-size: 20px;
        line-height: 30px;
        color: color($colors, primary);
        font-weight: bold;
        border-bottom:1px solid #ccc !important;
        margin-bottom: 10px;
    }
    
    .add_description_textarea::-moz-placeholder {
        font-family: "Lato Light" !important;
        font-weight: normal !important;
        font-size: 15px;
    }

    .add_description_textarea:-ms-input-placeholder {
        font-family: "Lato Light" !important;
        font-weight: normal !important;
        font-size: 15px;
    }

    ion-item-divider{
        background: none !important;
        padding-left: 5px !important;
        margin-bottom: 10px;
    }
    .add_description_textarea::-webkit-input-placeholder {
        text-indent: 0;
        font-family: "Lato Light" !important;
        font-weight: normal !important;
        font-size: 15px;
    }

    .addImagesSection{        
        border:1px solid #ccc;
        border-radius: 10px;
        padding: 10px 10px;
        text-align: center;
        color: #ccc;
         ion-icon{
            font-size: 70px;
         }
         h2{
            line-height: 18px;
            font-size: 20px;
            margin:0px;
         }
         p{
            line-height: 18px;
            font-size: 11px;
            width: 80%;
            margin: 10px auto;
         }
    }   
    ion-select.sexfield{
        margin-top: -10px;
        width:100% !important;
        max-width: 100% !important;
        color: color($colors, "primary") !important;
        font-family: "Lato Bold";
        border-bottom: 1px solid #ccc;
        padding:9px !important;
    }
    ion-item.sex_label_item{
        padding:0px !important;
        padding-top: 5px !important;
        font-size: 15px;
        color: color($colors, "dark") !important;
        font-family: "Lato Regular";
        .item-inner{
            padding:0px !important;
            border: 0px !important;
            padding:0px !important;
            font-size: 15px;
            color: color($colors, "dark") !important;
            font-family: "Lato Regular";
        }
    }

    ion-grid.items{
        padding:0px !important;
        margin:0px !important;
        ion-row{
            margin-bottom: 5px;
        }
        ion-col{
            padding:5px !important;
            overflow: hidden;
        }
        .img{
            min-height: 85px;
            max-height: 85px;            
            padding:0px !important;
            background: #f5f5f5;
            border: 1px solid #ddd;
            text-align: center;
            img{
                min-height: 87px;
                max-height: 87px;
                width:100%;
            }
        }
    }
}
