page-quality-matrix {
    .patient_count_box{
        text-align: center;
        h1{
            font-size: 40px;
            font-weight: bold;
            color: color($colors, primary);
        }
    }

    .sub_header{
        ion-col{
            font-weight: bold;
        }
    }

    ion-select{
        width:100% !important;
        max-width: 100% !important;
        color: color($colors, "primary") !important;
        font-family: 'Lato Bold';
        font-size: 15px;
    }
}
